# Dev Tools
black
flake8
pre-commit
pytest

# Python Notebook Kernel
ipykernel

# Dataframe
pandas
dask

# EDA - Processing
emoji
langdetect
nltk
scikit-learn


# Modeling
transformers
transformers[torch]
datasets
evaluate
wandb
zstandard
sentencepiece
