# Dev Tools
black
flake8
pre-commit
pytest

# Python Notebook Kernel
ipykernel

# Dataframe
pandas
dask

# EDA - Processing
dataprep
emoji
langdetect
spacy
nltk

# Modeling
transformers
transformers[tf-cpu]
